.sidebar {
    width: 250px;
    height: 100vh;
    background: #374151;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
  }
  .logocard img{
    width: 60px;
    height:60px;
    border-radius: 30px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #0b6fbb;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-menu li {
    padding: 15px 10px;
    border-radius: 5px;
  }
  
  .sidebar-menu li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    transition: 0.3s;
  }
  
  .sidebar-menu li:hover {
    background: #0b6fbb;
  }
  
  .logout-btn {
    margin-top: auto;
    background: #0b6fbb;
    border: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
  }
  
  .logout-btn:hover {
    background: #0b6fbb;
  }
  