/* AboutPage.css */
.about-container {
    font-family: 'Poppins', sans-serif;
    color: #2c3e50;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
  }
  
  .hero-section {
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/three-buses-staying-parking-lot-front-view-buses-with-blue-sky-clouds_926058-6852.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 60px;
    border-radius: 70px;
  }
  
  .hero-section h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
  }
  
  .hero-section p {
    font-size: 1rem;
    opacity: 0.9;
    max-width: 800px;
    margin-top: 50px;
    background-color: #ffffff;
    color: #555;
    padding: 20px;
    border-radius: 50px;

  }
  
  .hero-section button {
    background-color: #0b6fbb;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .hero-section button:hover {
    background-color: #0b6fbb;
  }
  
  .content-section {
    padding: 30px 20px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
  }
  
  .content-section h2 {
    color: #0b6fbb;
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .content-section p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #555;
  }
  
  .cta-button {
    background-color: #0b6fbb;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 8px;
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
  }
  
  .cta-button:hover {
    background-color: #0b6fbb;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .hero-section h1 {
      font-size: 3rem;
    }
  
    .hero-section p {
      font-size: 1.2rem;
    }
  }
  